@model OrangeBricks.Web.Controllers.Viewings.ViewModels.BookViewingViewModel
@{
    ViewBag.Title = "Book Viewing";
}

<h2>Book Viewing</h2>

<p>When would you like to view @Model.PropertyType on @Model.StreetName?</p>

@using (Html.BeginForm("Book", "Viewings", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Appointment, "Appointment Date:", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Hidden("PropertyId", Model.PropertyId)
            @Html.TextBoxFor(m => m.Appointment, new { @class = "form-control", type = "date" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Book Viewing" />
        </div>
    </div>
}